<div class="modal">
	<div class="bar bar-header">
	  <button class="button button-balanced" ng-click="groupDescModal.hide()">关闭</button>
	  <div class="h1 title">团抢职位规则</div>
	</div>
    <ion-content>

    <br>
    <br>
    <div class="card">
        <div class="item item-divider">组团的好处</div>
        <div class="item item-text-wrap">组团抢职位，人多力量大。通过多人组团抢职位，平台会根据各个职位的不同给予团长和团员不同比例的上工补贴，这可比直接应聘赚的多啊。</div>
    </div>

    <div class="card">
        <div class="item item-divider">什么人能组团</div>
        <div class="item item-text-wrap">开团不设限，人人当团长。只要你有够多的老乡朋友，你就能开多大的团。每个团最低限制为5人，最高无上限。当然为了避免恶意组团，对于多次未能成团或者无法招满的团长，我们可能限制你的团员上限，严重的还可能被取消成团资格哦。</div>
    </div>

    <div class="card">
        <div class="item item-divider">团长怎么奖励</div>
        <div class="item item-text-wrap">只要团员上工成功，团长即可获得该团员上工的奖励。上工成功指的是该用户上工且成功通过用工方的签到考核获得了工资。奖励将以团员每人每天的奖励来计算，团长可获得的奖励为所有团员所有工作日奖励的累加。</div>
    </div>

    <div class="card">
        <div class="item item-divider">团员怎么奖励</div>
        <div class="item item-text-wrap">只要团员上工成功，即可获得上工的奖励。上工成功指的是该用户上工且成功通过用工方的签到考核获得了工资。奖励将以团员每人每天的奖励来计算，团员可获得的奖励为所有上工日奖励的累加。</div>
    </div>

    <div class="card">
        <div class="item item-divider">奖励何时结算</div>
        <div class="item item-text-wrap">该职位结束后，我们将根据各位团员的上工情况给团员和团长结算奖励，奖励到钱包余额，可提现。</div>
    </div>

    <div class="card">
        <div class="item item-divider">怎么知道奖励多少</div>
        <div class="item item-text-wrap">职位结束后，您可在职位团抢的列表页面看到已结束的每个团的奖金数额。</div>
    </div>

    <div class="card">
        <div class="item item-divider">如何获得更多奖励</div>
        <div class="item item-text-wrap">团长奖励比团员高，所以你懂的。还有你的团员越多，获得的奖励就越高，所以尽可能多的拉人加入的你的团；另外对于应聘方来说只要和其他工作不冲突，报尽可能多的职位，多劳多得。</div>
    </div>
</ion-content>

</div>