<ion-tabs class="tabs-icon-top tabs-stable tabs-balanced {{hideTabs}} ">

  <!-- Dashboard Tab -->
  <ion-tab title="首页" icon-off="ion-home" icon-on="ion-home" href="#/tab/home" >
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <!-- Dashboard Tab -->
  <ion-tab title="工作" icon-off="ion-ios-ionic-outline" icon-on="ion-ionic" href="#/tab/explore">
    <ion-nav-view name="tab-explore"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="我" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/my">
    <ion-nav-view name="tab-my"></ion-nav-view>
  </ion-tab>


</ion-tabs>