<ion-view view-title="工作详情">
	<ion-content class="has-header">
		<div class="container work">
  			<ul class="work_info">
    			<li>
      				<dl>
        				<dt>{{job.title}}<!--<em class="icon_rz"></em>--></dt>
        				<dd><span class="money"><i>{{job.pay_qty}}</i>{{job.pay_unit}}</span><span class="type">{{job.work_type}}</span></dd>
        				<dd><span class="company">{{job.company}}</span></dd>
        				<dd><span class="address yinpingaddress">{{job.work_location}}</span><br/><span class="time"></span><span class="showjob" ng-click="showJobDetail(jobsession._serverData.job.id,$event)">查看职位<i></i></span></dd>
      				</dl>
    			</li>
  			</ul>
  			<p class="infotitle">状态</p>
  			<div class="work_state_info ">
  		    	<div class="state_icon  icon_work_3 "></div>
	     		<div class="state_describe">
         			<div>
             			<div class="describe_left">
             				<h1>工作中 </h1>
             				<span>您正在工作中 。</span>
             	            <br />
	            			<span class="remark_msg_con">已经电话沟通，确认录取。</span>
                              <dl class="daimianshi_info">
                                  <dd>联&nbsp; 系&nbsp; 人：{{job.contact}}</dd>
                                  <dd>联系电话：<a href="tel:{{job.contact_num}}">{{job.contact_num}}</a></dd>
                              </dl>
	            		</div>
         			</div>
            		<span class="note">请准时上岗，以免耽误您的薪资发放。</span>
        		</div>
        	</div>
   			<p class="infotitle">工作日程</p>
        
           <flex-calendar options="options" events="events"></flex-calendar>
             
        <p class="infotitle">过程</p>
	  		<ul class="process_list">
	  	      <li><p class="title">您正在工作中</p><p class="datetime">{{history.working.toRelativeTime()}}前</p><span></span></li>
	        	<li><p class="title">被录用</p><p class="datetime">{{history.passing.toRelativeTime()}}前</p><span></span></li>
	        	<li><p class="title">您申请了工作</p><p class="datetime">{{history.waiting.toRelativeTime()}}前</p><span></span></li>
    		</ul>
 		</div>
	</ion-content>
</ion-view>