<div class="modal">
	<ion-header-bar>
	<div class="bar bar-header">
	  
	  <div class="h1 title">选择日期</div>
	  <!-- <button class="button button-balanced" ng-click="saveDatePicked()">保存</button> -->
	</div>
	</ion-header-bar>

	<ion-content >
		<flex-calendar options="options" events="events"></flex-calendar>
<!--       	<div class="list">
        
        <ion-checkbox ng-repeat="item in datePicked"
                      ng-model="item.checked" 
                      ng-checked="item.checked">
          {{ item.text }}
        </ion-checkbox>
        
    </div> -->

    </ion-content>
</div>