<ion-view view-title="天天有活商家版用户指南">
    
	<ion-content>

	    <div class="card">
	        <div class="item item-divider">什么是天天有活</div>
	        <div class="item item-text-wrap">天天有活是由北京蓝羚信息技术有限公司推出的高效靠谱的短工平台，分为商家版和求职用户版。天天有活致力于成为您身边老乡都在用的短工平台，让商家快速找到靠谱的短工，让求职人不付中介费也能找到合适的工作。</div>
	    </div>

	    <div class="card">
	        <div class="item item-divider">加入天天有活的理由</div>
	        <div class="item item-text-wrap">天天有活有大量的优质企业提供的高薪，安全的短工职位，这些职位均通过天天有活平台的验证和把关；同时我们也聚集了大量诚信，勤劳的求职人群。商户在平台上可快速招到需求的人，并享受平台提供的专业客服，提升工作效率。</span>
		<p></p></div>
	    </div>


	    <div class="card">
	        <div class="item item-divider">如何加入天天有活</div>
	        <div class="item item-text-wrap">关注“天天有活”微信公众账号，点击“我要招工”，注册商家账号，到“我的”模块提交资料认证，经审核通过后即可加入天天有活发布职位需求。</div>
	    </div>

	    <div class="card">
	        <div class="item item-divider">如何通过天天有活招聘兼职人员</div>
	        <div class="item item-text-wrap">发布职位-求职者申请职位-商家录用（或者商家拒绝）。录用的求职方与商家建立起用工关系，整个流程均通过产品完成。</div>
	    </div>

	    <div class="card">
	        <div class="item item-divider">薪资如何发放</div>
	        <div class="item item-text-wrap">目前版本的薪资发放，将由商家或者平台（代发）在线下发放，后期我们会开发在线薪资发放功能。</div>
	    </div>

	    <div class="card">
	        <div class="item item-divider">商家有违规行为会怎么样？</div>
	        <div class="item item-text-wrap">商家若有发布违规信息，不按时结算薪资，或被多个求职方投诉，会影响到企业的信用评级，严重者将被封号，不可在平台招聘。</div>
	    </div>

	    <div class="card">
	        <div class="item item-divider">如何联系天天有活？</div>
	        <div class="item item-text-wrap">您若有建议或者意见，可电话联系<a href="tel:010-82447328">010-82447328</a>。我们将在第一时间进行处理。</div>
	    </div>

	</ion-content>
</ion-view>


