<ion-tabs class="tabs-icon-top tabs-stable tabs-balanced {{hideTabs}} ">

  <!-- Dashboard Tab -->
  <ion-tab title="招聘" icon-off="ion-home" icon-on="ion-home" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <!-- Dashboard Tab -->
  <ion-tab title="职位" icon-off="ion-ios-ionic-outline" icon-on="ion-ionic" href="#/tab/postJobs">
    <ion-nav-view name="tab-postJobs"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="我的" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/my">
    <ion-nav-view name="tab-my"></ion-nav-view>
  </ion-tab>


</ion-tabs>